{#
    인자를 받는 call 블록 선언하기
    {% call(args) 매크로 명 %}
        call이 받은 인자를 처리한다.
    {% endcall %}

#}

  {% macro user_info(users) -%}
    <ul>
      {%- for user in users %}
        <li><p>{{ user['user_name']}}</p>{{caller(user_data=user)}}</li>
        {%- endfor %}
    </ul>
  {%- endmacro %}



  {% call(user_data) user_info(user_list) %}
    <dl>
        <dl> User Name </dl>
        <dd>{{user_data['name']}}</dd>
        <dl> User Job </dl>
        <dd>{{user_data['job']}}</dd>
    </dl>
  {% endcall %}


{#
    user_list = [ {'user_name': 'hong','name':'hogildong', 'job':'developer'}, {}]
#}