{% extends "flash_layout.html" %}
{% block body %}
    <h1>로그인</h1>
  {% if error %}
    <p class="error"><strong>Error: </strong> {{error }}</p>
  {% endif %}
  <form action="" method="post" >
      <dl>
          <dt>UserName : </dt>
          <dd><input type="text" name="username" value="{{request.form.username}}"> </dd>
          <dt>Password: </dt>
           <dd><input type="password" name="password" ></dd>
      </dl>
      <p><input type="submit" value="로그인"/> </p>
  </form>
{% endblock %}
