{#
    macro(매크로) : 일반적인 프로그래밍 언어의 함수와 같다.
    일반적인 매크로의 구문

    {% macro <매크로이름>(매크로 인자,...) %}
         <실행코드>
             {% endmacro %}

#}

{#
 <p><input type="text" name="username" value="" size="30"></p>
 <p><input type="password" name="password" value="" size="30"></p>

 위 템플릿 코드를 아래와 같이 매크로로 만들어서 필요한 곳에 호출하여 사용 할 수 있다.
#}
  {% macro input(name,value='',type='text',size=30) -%}
  <input type="{{type}}" name="{{ name }}" value="{{value}}" size="{{size}}">
  {%- endmacro %}

  <p>{{input('username')}}</p>
  <p>{{input('password',type='password')}}</p>