<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Data table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class ="container">
        <h2>학생 테이블</h2>
        <p>학생의 이름과 나이 정보</p>
        <table class="table">
            <thead>
                <tr><th>이름</th><th>나이</th></tr>
            </thead>
            <tbody>
              {% for stu in stuData %}
                <tr><td>{{stu['name']}}</td><td>{{stu['count']}}</td></tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>